[Unit]
Description=Rtorrent
After=i3-gaps.target
PartOf=i3-gaps.target

[Service]
Type=simple

Environment="DISPLAY=:0"
ExecStart=/usr/bin/termite --class rtorrent-desktop -e rtorrent
ExecStopPost=/bin/bash -c "rm -rf ~/rtorrent/.session/rtorrent.lock"

Restart=always
RestartSec=5

RemainAfterExit=no

[Install]
WantedBy=i3-gaps.target
