[Unit]
Description=gis weather application
After=i3-gaps.target
PartOf=i3-gaps.target

[Service]
Type=simple
Environment="DISPLAY=:0"
ExecStart=/bin/gis-weather
Restart=always
RestartSec=5

RemainAfterExit=no

[Install]
WantedBy=i3-gaps.target

