*
!.gitignore
!.bashrc
!.gdbinit
!.gitconfig
!.gtkrc-2.0
!.icons/default/index.theme
!.inputrc
!.ncmpcpp/bindings
!.ncmpcpp/config
!.rtorrent.rc
!Scripts/
!.tmux.conf
!.wallpaper/
!.xinitrc
!.xprofile
!.Xresources
!.zshrc

#add index.theme
!.icons/
.icons/*
!.icons/default
.icons/default/*
!.icons/default/index.theme

#add bindings and config
!.ncmpcpp/
.ncmpcpp/*
!.ncmpcpp/bindings
!.ncmpcpp/config

#config...
!.config/
.config/*

!.config/cava/
!.config/cava/config
!.config/compton.conf
!.config/dunst/
!.config/gtk-3.0/
!.config/i3/
!.config/i3blocks/
!.config/nvim/
!.config/systemd/
!.config/termite/
!.config/termite/config*

#mcubber
!.config/mcabber/
.config/mcabber/*
!.config/mcabber/mcabberrc
!.config/mcabber/notify.mp3
!.config/mcabber/notify2.mp3

#mpd
!.config/mpd/
.config/mpd/*
!.config/mpd/mpd.conf

#ranger
!.config/ranger/
.config/ranger/*
!.config/ranger/rc.conf
