[Unit]
Description=Simple synchronize 'drop' directory to remote dropbox
After=i3-gaps.target


[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/bin/bash -c "%h/.local/bin/drop_sync.sh"
RemainAfterExit=no

[Install]
WantedBy=i3-gaps.target

