[Unit]
Description=Visual effects for wm
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=forking
Environment="DISPLAY=:0"
ExecStart=/bin/bash -c 'picom -b --config ~/.config/picom.conf'
ExecReload=/bin/bash -c 'pkill -SIGUSR1 picom'
KillSignal=SIGINT

RemainAfterExit=no

[Install]
WantedBy=graphical-session.target
