[Unit]
Description=Transperancy for wm
After=i3-gaps.target
PartOf=i3-gaps.target

[Service]
Type=forking
Environment="DISPLAY=:0"
ExecStart=/bin/bash -c 'picom -b --config ~/.config/picom.conf'
ExecReload=/bin/bash -c 'pkill -SIGUSR1 picom'
KillSignal=SIGINT

RemainAfterExit=no

[Install]
WantedBy=i3-gaps.target
