[Unit]
Description=Drop-down file manager
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple

Environment="DISPLAY=:0"
Environment="TERMCMD=kitty"
Environment="EDITOR=/home/%u/.local/bin/editor.sh"

ExecStart=/usr/bin/kitty --class ranger-desktop ranger

KillMode=process

Restart=always
RestartSec=0

RemainAfterExit=no

[Install]
WantedBy=graphical-session.target
