[Unit]
Description=Notepad to write tasks
After=i3-gaps.target
PartOf=i3-gaps.target

[Service]
Type=simple

Environment="DISPLAY=:0"
Environment="TERMCMD=kitty"
Environment="EDITOR=/home/%u/.local/bin/editor.sh"

ExecStart=/usr/bin/kitty --class tasks-pad-desktop nvim /home/%u/tasks

KillMode=process

Restart=always
RestartSec=0

RemainAfterExit=no

[Install]
WantedBy=i3-gaps.target
