[Unit]
Description=Telegram messenger
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
Environment="DISPLAY=:0"
ExecStart=/bin/bash -c 'telegram-desktop -- %u'
Restart=always
RestartSec=2

RemainAfterExit=no

[Install]
WantedBy=graphical-session.target
