:root {
  /* main */
  --main: #39b099;
  --external-background: #131416;
  --internal-background: #23282F;

  /* list */
  --list-background: #18191B;
  --list-header: #6DCAC4;
  --list-header-background: #222D3A;

  /* list elemnts colors*/
  --element-border: #295366;
  --special-border: #4D9D8C;
  --element-background: #1C242D;
}

body {
  font-family: 'Itim', cursive;
}

@media only screen and (min-width: 400px) {
  .column-container {
    column-count: 1;
  }
  .responsive {
    min-width: 500px;
    max-width: 650px;
  }
}

@media only screen and (min-width: 1200px) {
  .column-container {
    column-count: 2;
  }
  .responsive {
    min-width: 1000px;
    max-width: 1250px;
  }
}

@media only screen and (min-width: 1625px) {
  .column-container {
    column-count: 3;
  }
  .responsive {
    min-width: 1500px;
    max-width: 1750px;
  }
}

