/*//////////////////////////////////////////////////////////////////////*/
/* main */
body {
  background-color: var(--external-background);
}

header {
  color: var(--main);
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3.2em;
  text-shadow: 4px 5px #000;

  min-height: 80px;
}

.responsive {
  background-color: var(--internal-background);

  width: 90%;
  padding: 10px;
  margin: 20px auto;
  transition: 0.3s;
}

.column-container {
  column-gap: 0px;
}

/*//////////////////////////////////////////////////////////////////////*/
/* lists */
ul {
  display: inline-block;
  column-width: 100vw;

  list-style-type: none;
  color: #fff;
  background-color: var(--list-background);
  border: 2px solid var(--main);
  margin: 10px;
  padding: 10px;
}

/* header */
ul > li:first-child {
  color: var(--list-header);
  background-color: var(--list-header-background);
  text-align: center;
  font-size: 1.2em;

  padding: 7px;
  transition: 0.3s;
}

/* element */
li:nth-child(n+2) {
  display: grid;
  grid-template-columns: repeat(2, minmax(70px, 1fr)) 7fr;
  align-items: center;

  background-color: var(--element-background);
  border: 1px solid var(--element-border);

  padding: 5px 1px;
  margin-top: 7px;
}

li.local-header {
  display: block;
  text-align: center;
  border: none;
  color: var(--main);
}

li.special {
  border-color: var(--special-border);
}

/*//////////////////////////////////////////////////////////////////////*/
/* hotkeys */
li > div:nth-child(-n+2) {
  text-align:  left;
  padding-left: 1px;
  padding-right: 1px;
}

/* first hotkey */
li > div:nth-child(1) {
  color: var(--main);
  margin-left: 10px;
}

/* secont hotkey */
li > div:nth-child(2) {
  color: #888;
}

/* description */
li > div:nth-child(3) {
  margin-left: 10px;
}

/* in-use style */
li > div.in-use {
  color: var(--main);
}

/* reset style */
li > div.reset {
  color: #888;
}

/* overriden style */
li > div.override {
  color: #f68;
}
