:root {
  /* main */
  /*--main: #AF82B0;*/
  --main: #A788B4;
  --external-background: #131416;
  --internal-background: #322B36;

  /* list */
  --list-background: #1E1A1E;
  --list-header: #DCADBB;
  --list-header-background: #2F2A37;

  /* list elemnts colors*/
  --element-border: #536373;
  --special-border: #A17EA9;
  --element-background: #38343C;
}

body {
  font-family: 'Itim', cursive;
}

@media only screen and (max-width: 1200px) {
  .column-container {
    column-count: 1;
  }
  .responsive {
    min-width: 500px;
    max-width: 650px;
  }
}

@media only screen and (min-width: 1200px) {
  .column-container {
    column-count: 2;
  }
  .responsive {
    min-width: 1000px;
    max-width: 1250px;
  }
}

@media only screen and (min-width: 1625px) {
  .column-container {
    column-count: 3;
  }
  .responsive {
    min-width: 1500px;
    max-width: 1750px;
  }
}
